/* Extra small devices (portrait phones, less than 576px) */ 
@media(min-width: 320px) and (max-width: 575px) {    
    .logo {
        text-align: center;
    }

    .main-menu ul li {
        padding: 0px 23px;
    }
    .foter-area {
        text-align: center;
    }
    .foter-area .right {
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .main-menu ul li {
        padding-left: 20px;
    }
   
}
/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul li {
        padding-left: 30px;
    }

}  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

    .main-menu ul li {
        padding-left: 50px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    
}