/* common css start */
* {
    margin: 0;
    outline: 0;
    padding: 0;
}

/* .alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
} */

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0 solid;
}

ul,
li {
    list-style-type: none;
    margin: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h2,
h4,
h5,
h6 {
    font-weight: 300;
    font-size: 30px;

}

p,
a,
il {
    font-size: 14px;
}

body{
    font-family: 'Playfair Display', sans-serif;
}


.blog-meta, .blog-readmore-btn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

body {
    line-height: 1.714;
    color: #626262;
}

.main-menu ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    padding-left: 90px;
}

.main-menu ul li a {
    color: #565656;
    display: block;
    padding: 70px 0;
}

.logo {
    padding: 70px 0;
}

.blog-feature-content img {
    width: 100%;
}

.single-blog-item {
    margin-bottom: 120px;
}
.single-blog-item h2 {
    color: #626262;
    margin: 20px 0 25px;
}

a.blog-meta {
    color: #B5ADA1;
}

.blog-readmore-btn {
    color: #AFA89B;
    text-transform: uppercase;
}

.blog-box-content {
    margin-bottom: 30px;
}

.blog-box-content p:last-child {
    margin-bottom: 0;
}
.news-letter-area {
    background: #F0F0F0;
    padding: 70px 0;
    text-align: center;
    margin-bottom: 120px;
}

.newsletter-form {
    max-width: 368px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    position: relative;
}

.news-letter-area h2 {
    margin-bottom: 50px;
}

.newsletter-form input[type=email] {
    padding: 10px;
    background: #F0F0F0;
    border: none;
    width: 100%;
}

.newsletter-form button {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.blog-feature-content {
    margin-bottom: 30px;
}

a.load-more-btn {
    border: 1px solid #616161;
    padding: 15px 30px;
    font-size: 20px;
    color: #979797;
}

.foter-area {
    background: #F0F0F0;
    padding: 30px 0;
    margin-top: 90px;
}

.foter-area a {
    color: #000;
}

.foter-area ul li {
    display: inline-block;
    padding-left: 20px;
    font-weight: 700;
}

.right a i {
    padding-left: 10px;
}
.foter-area .col-md-6 {
    margin: 0;
    padding: 0;
}

.big-blog-box .blog-feature-content {
    margin-bottom: 80px;
}

.load-more-wrapper.text-center {
    margin-top: -30px;
}
.blog-box-content p {
    text-align: justify;
}

.foter-area .right {
    text-align: right;
}
